<div class="page-header">
	<!-- Article Title -->
  <h1><%= "#{@article["title"]}" %></h1>
  <!-- Edit Article link -->
  <p><a href=<%= "/articles/#{@id}/edit" %>>Edit Article</a></p>
  <!-- Author link -->
  <p>By: <a href=<%="/user/#{@article["id"]}"%>><%= "#{@article["name"]}" %> </a></p>
</div>

<!-- Article Content -->
<p class="lead"><%= "#{@article["content"]}" %></p>

<!-- Categories links -->
<p><a href=<%= "/articles/#{@id}/edit" %>>Categories</a></p>
