<div class="page-header">
	<!-- Article Title -->
  <h1><%= "#{@article["title"]}" %></h1>
  <!-- Edit Article link -->
  <p><a href=<%= "/articles/#{@id}/edit" %>>Edit Article</a></p>
  <!-- Author link -->
  <p>By: <a href=<%="/user/#{@article["id"]}"%>><%= "#{@article["name"]}" %> </a></p>
</div>

<!-- Article Content -->
<p class="lead"><%= "#{@content}" %></p>

<!-- Categories links -->
<p>
	<a href= "/categories">Categories</a>: 
	<% @categories.each do |category| %>
	<h6><a class="btn-link" href=<%= "/category/#{category["id"]}" %>><%= category["title"]%></a> </h6>
	<% end %>
	<!-- <h6><a class="btn-link" href=<%= "/category_new" %>>
	+ Add New Category
	</a></h6> -->
</p>

<!-- Timestamp -->
<p>This page was last modified on <%=@time.strftime("%B %d %Y at %I:%M %p")%> by <%=@user_details["name"]%></p>
