<!-- Side Bar -->
<div class="row profile">
	<div class="col-md-3">
		<div class="profile-sidebar">
			<!-- SIDEBAR USERPIC -->
			<div class="profile-userpic">
				<img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
			</div>
			<div class="page-header">
				<!-- User Name -->
			  <h1><%= "#{@profile["name"]}" %></h1>
			  <!-- Edit Profile Details link -->
			  <p><a href=<%= "/user/#{@id}/edit" %>>Edit Profile</a></p>
			</div>
		</div>
	</div>

<!-- User Articles -->
	<div class="col-md-9">
  	<h3>History</h3>         
	  <table class="table">
	    <thead>
	      <tr>
	        <th>Articles Posted</th>
	        <th>Last Update</th>
	      </tr>
	    </thead>
	    <tbody>
	      <%@user_articles.each do |article|%>
		      <tr>
		        <td><a href=<%="/articles/#{article["id"]}"%>>
						<%= "#{article["title"]}" %></a></td>
		        <td><%=DateTime.parse(article["edit_date"]).strftime("%B %d %Y at %I:%M %p")%></td>
		      </tr>
					<h2></h2>
				<%end%>
	    </tbody>
	  </table>
	</div>
</div>











